*{
    margin:0px;
    padding:0px;
    height: auto;
}
body{
    background-color: #f6f6f6;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    /* margin-left:311.500px;
    margin-right: 311.500px; */
    margin-left:16.225vw;
    margin-right: 16.225vw;
    width:1280px;
    height: 1816px;
}

.containerSelect{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    gap:90px;
    border-radius: solid 10px;
}

.containerSelect1{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #f6f6f6; */
}

.algo{
    display: flex;
    flex-direction: row;
}
/* .card1{
    display: inline !important;
    width: 250px;
    height: auto;
} */


.contenedor{
    background-color: white;
    padding-top:39px;
    padding-left:37px;
    padding-right: 37px;
    display:flex;
    flex-direction: column;
    height: auto !important;
}

.contenedor2{
    padding:10px;
}

.contenedor3{
    display: flex;
    justify-content: center;
    
}
.navBar{
    background-color: white;
    display:flex;
    overflow:hidden;
    flex-direction: row;
    top: 0;
    width: 64%;
    position:fixed;
    padding-top:40px;
    padding-bottom:13px;
    z-index: 10;
}

.listItem{
    font-size:10.5px;
    display:flex ;
    align-self: end;
    margin-left:14px;
    margin-bottom: 0px;
    gap:14px;
    padding-left: 2.5px;
    
}

div ul li{
    /* margin-left:14px; */
    list-style-type: none; 
}


.imgf{
    width: 1183px;
    height: 351.594px;
    margin-top:18px;
    margin-bottom: 20px;
    
}
.tittle{
    margin-top:50px;
}

.motorForm{
    padding-top: 50px;
    width: 350px;
    height: 300px;
    background-color: #f6f6f6;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top:50px;
    
}

.inputForm{
    
    width: 250px;
    height: 25px;
    padding-left: 15px;
    border-radius: 5px;
}


.formContainer1{
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.formContainer1_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.formContainer1_1_1{
    width: 350px;
}
.imgff{
    width: 350px;
}

.formContainer1_1_2{
    width: 25%;
}

.formContainer2{
    height: auto;
    display: flex;
    flex-direction: column;
}

/* .formContainer2_1{
    display: flex;
    flex-direction: row;
    gap:30px
} */
.formContainer2_1{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}
.formContainer2_2{
    display: flex;
    justify-content: center;
    padding-top: 0px;
    
}

.formContainer2_3{
    padding-top: 50px;
    
}

/* .formContainer2_1_2{
    width: 92%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start ;
    gap:10px

} */

.formContainer3{
    height: 520px;
    display:flex;
    flex-direction: column;
    gap:20px;
    
}

.formContainer3_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.formContainer3_1_1{
    width: 750px;
} 

.inputFunc{
    height: 330px;
}

.elemento{
    background-color: yellowgreen;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.utilChange:after{
    content: "Enviar"
}

.contentTable {
    display: flex;
    flex-direction: row;
    gap: 90px;
    justify-content: center;
    align-items: center;
}


.modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  #cfcfcfbd;
    display:flex;

}

.modalContent{
    
    background-color: #f6f6f6;
    margin: auto;
    /* opacity: 100%; */
    width: 30%;
    height: auto;
    opacity: 100%;
}

a {
    cursor:pointer;
    color:rgb(255, 0, 0);
    text-decoration:underline;
}

.divisor{
    display: flex;
    flex-direction: row;
    gap:50px;

}

.divisor2{
    width: 100%;
    height: auto;
    background-color: #f6f6f6;
}

.horizontal {
    border-right: 1px solid red;
    padding-right: 80px;
    padding-left: 80px;
}

.horizontal1 {
    border-right: 1px solid red;
    border-left: 1px solid red;
    padding-right: 80px;
    padding-left: 80px;
}

hr{
    background-color: red;
}